
.container input:focus::placeholder {
    color: transparent;    
}

#center-thead {
    width: 100%;
    text-align: center;
}

tr,
th,
td {
    text-align: center;
    vertical-align: middle;
}

.btn-acao td,
a {
    margin-right: 10px;
}